body{
    background-image: url("https://source.unsplash.com/1600x900/?water");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}
.main{
    background-color: rgba(2, 209, 178, 0.518);
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 250px;

}
#res{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
}

p{
    margin: 1px;
}
button:hover{
    background-color: rgb(110, 112, 106);
    color: rgb(0, 0, 0);
    cursor: grab;
    border: 2px solid white;
    border-radius: 10px;
}
button{
    cursor: pointer;
    border-radius: 10px;
}